<?xml version="1.0" encoding="utf-8"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
  <appSettings>
    <add key="showloginrdbtn" value="yes" />
    <add key="center" value="main" />
    <add key="logoimg" value="ambika.gif" />
    <add key="logoimgwidth" value="70" />
    <add key="ConnectionType" value="orcl" />
    <add key="keyloc" value="C:\Python34\" />
    <add key="pythonexe" value="C:\Python34\python.exe" />
    <add key="sunrisesunset" value="C:\Python34\srss.py" />
    <add key="SMTPServer" value="127.0.0.1" />
    <add key="WEBSITEDomain" value="http://localhost/astrology" />
    <add key="CcavenueURL" value="http://localhost/astrology/auto_ccavenue.aspx" />
    <add key="PaypalURL" value="http://localhost/astrology/auto_paypal.aspx" />
    <add key="CcavenueThankyouURL" value="http://localhost/astrology/thankyouccavenue.aspx" />
    <add key="PaypalThankyouURL" value="http://localhost/astrology/thankyoupaypal.aspx" />
    <add key="Ccavenue_chkAuthDesc" value="N" />
    <!--Y/N-->
    <!--Set N for local testing-->
    <add key="Ccavenue_PaymentStatus" value="T" />
    <!--T/F-->
    <add key="HoraryEndUserAstrologerID" value="horaryadmin@astroenvision.com" />
    <add key="HoraryEndUserAstrologerName" value="Astroenvision Horary Admin" />
    <add key="HoraryEndUserAstrologerGroup" value="Astro Envision Horary" />
    <add key="NatalEndUserAstrologerID" value="nataladmin@astroenvision.com" />
    <add key="NatalEndUserAstrologerName" value="Astroenvision Natal Admin" />
    <add key="NatalEndUserAstrologerGroup" value="Astro Envision Natal" />
    <add key="StateManagement" value="SESSION" />
    <!--SESSION,COOKIE-->
    <add key="CookieTimeout" value="1" />
    <add key="AdminStateManagement" value="COOKIE" />
    <!--SESSION,COOKIE-->
    <add key="AdminCookieTimeoutType" value="HOURS" />
    <!--MILLISECONDS,SECONDS,MINUTES,HOURS,DAYS,YEARS-->
    <add key="AdminCookieTimeout" value="5" />
    <add key="LogoPath" value="http://localhost/astrology/Image/logo-astro.svg" />
    <add key="ChartImagePath" value="http://localhost/astrology/Image/bgastrology.jpg" />
    <add key="CurrencyType" value="INR" />
    <!--INR/USD-->

    <add key="ActivePaymentGateway" value="RAZORPAY" />
    <!--RAZORPAY,PAYU,BOTH-->
    <!--Keys Ids for Test Mode-->
    <add key="RazorpayKeyId" value="rzp_test_2XnseEoaXaFxF8" />
    <add key="RazorpaySecretKey" value="OLIIC1Jjmj7gAqokKLYaogM6" />
    <!--Keys Ids for Live Mode-->
    <!--<add key="RazorpayKeyId" value="rzp_live_YrmwS9HWHUZxGD"/>
    <add key="RazorpaySecretKey" value="aAieY2LkNC5aBFf4uka1K65O"/>-->

    <!--FOR DAILY HOROSCOPE-->
    <add key="TodayChartTime" value="06:00" />
    <add key="TodayChartCountry" value="IN" />
    <add key="TodayChartState" value="36" />
    <add key="TodayChartCity" value="Muzaffarnagar" />
    <add key="ACTIVE_USER_VERIFICATION" value="T" /> 
    <!--T,F-->
    
    
    <!--<add key="orclConnectionString" value="data source=ORCLLIVE; uid=astrology; pwd=astrology;" />-->
    <add key="orclConnectionString" value="data source=ORCL; uid=ASTROLOGY; pwd=astrology;" />
    
    <!--<add key="orclConnectionString" value="data source=ASTROLOGY122; uid=ASTROLOGY; pwd=astrology;"/>-->
    <!--<add key="OrclConnectionStringLive" value="data source=ORCL_LIVE; uid=astrology; pwd=astrology;"/>
    <add key="OrclConnectionStringLocal" value="data source=ORCL; uid=ASTROLOGY; pwd=astrology;"/>-->
    <!--<add key="orclConnectionString" value="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=192.168.0.18)(PORT=1521)))(CONNECT_DATA=(SID=orcl)));User Id=ASTROLOGY;Password=astrology;Min Pool Size=5;Max Pool Size=2500; "/>-->
    <!--<add key="orclConnectionString" value="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=103.115.194.61)(PORT=1521)))(CONNECT_DATA=(SID=orcl61)));User Id=ASTROLOGY;Password=astrology;Min Pool Size=5;Max Pool Size=2500; "/>-->
  </appSettings>
  <connectionStrings />
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
      -->
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="ADODB, Version=7.0.3300.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Data.OracleClient, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
      </assemblies>
    </compilation>
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <authentication mode="Windows" />
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
     -->
    <!--RemoteOnly,On,Off-->
    <customErrors mode="RemoteOnly" defaultRedirect="~/ErrorPages/Oops.aspx">
      <error statusCode="404" redirect="~/ErrorPages/404.aspx" />
      <error statusCode="500" redirect="~/ErrorPages/500.aspx" />
    </customErrors>
    <httpHandlers>
      <add verb="POST,GET" path="ajax/*.ashx" type="Ajax.PageHandlerFactory, Ajax" />
    </httpHandlers>
    <urlMappings enabled="true">
      <add url="~/index.html" mappedUrl="~/indexpage.aspx" />
      <!--<add url="~/registration.html" mappedUrl="~/userregistration.aspx" />-->
      <!--<add url="~/registration.html" mappedUrl="~/signup.aspx" />-->
      <add url="~/astrologer/registration.html" mappedUrl="~/userregistration.aspx?usertype=ASTROLOGER" />
      <add url="~/enduser/registration.html" mappedUrl="~/userregistration.aspx?usertype=ENDUSER" />
      <!--<add url="~/forgot_password.html" mappedUrl="~/astro_registration_reactivation.aspx?Flag=FP"/>-->
      <add url="~/forgot_password.html" mappedUrl="~/ForgotPassword.aspx" />
      <add url="~/videos.html" mappedUrl="~/gallery/video_section.aspx" />
      <add url="~/feedback.html" mappedUrl="~/feedback.aspx" />
      <add url="~/aboutus.html" mappedUrl="~/article/article.aspx?catid=7&amp;articleid=32" />
      <!--<add url="~/consult-an-astrologer.html" mappedUrl="~/article/details.aspx?catid=20&amp;articleid=40" />-->
      <add url="~/consult-an-astrologer.html" mappedUrl="~/ConsultAnAstrologer.aspx" />
      <add url="~/faqs.html" mappedUrl="~/article/article.aspx?catid=8&amp;articleid=33" />
      <add url="~/privacy-policy.html" mappedUrl="~/article/article.aspx?catid=14&amp;articleid=35" />
      <add url="~/terms-of-use.html" mappedUrl="~/article/article.aspx?catid=15&amp;articleid=36" />
      <add url="~/signin.html" mappedUrl="~/signin.aspx" />
      <add url="~/signup.html" mappedUrl="~/signup.aspx" />
      <add url="~/ChangePassword.html" mappedUrl="~/ChangePassword.aspx" />
      <add url="~/CheckOutCart.html" mappedUrl="~/CheckOutCart.aspx" />
      <add url="~/horaryusers" mappedUrl="~/astrologer_details.aspx" />
      <add url="~/kundli-matching.html" mappedUrl="~/compatibilitymatchingform.aspx" />
      <add url="~/free-horoscope.html" mappedUrl="~/freehoroscope.aspx" />
      <add url="~/astrology/blog.html" mappedUrl="~/blogs.aspx" />
      <add url="~/managetestimonials.html" mappedUrl="~/ManageTestiMonials.aspx" />
      <add url="~/admin/" mappedUrl="~/AdminLogin.aspx" />
      <add url="~/free-kundli-matching.html" mappedUrl="~/freecompatibilitymatchingform.aspx" />
      <add url="~/contactus.html" mappedUrl="~/article/article.aspx?catid=28&amp;articleid=47" />
      <add url="~/24-7-astrological-support.html" mappedUrl="~/article/article.aspx?catid=32&amp;articleid=48" />
      <add url="~/weekly-predictions.html" mappedUrl="~/article/article.aspx?catid=33&amp;articleid=49" />
      <add url="~/monthly-predictions.html" mappedUrl="~/article/article.aspx?catid=34&amp;articleid=50" />
      <add url="~/yearly-predictions.html" mappedUrl="~/article/article.aspx?catid=35&amp;articleid=51" />
      <add url="~/birth-chart-analysis.html" mappedUrl="~/article/article.aspx?catid=36&amp;articleid=52" />
      <add url="~/corporate-astrology.html" mappedUrl="~/article/article.aspx?catid=30&amp;articleid=53" />
      <add url="~/business-astrology.html" mappedUrl="~/article/article.aspx?catid=31&amp;articleid=54" />
      <!--<add url="~/services.html" mappedUrl="~/article/article.aspx?catid=10&amp;articleid=34"/>-->
      <add url="~/natal-astrology.html" mappedUrl="~/article/article.aspx?catid=10&amp;articleid=41" />
      <add url="~/astro-reports.html" mappedUrl="~/section/NatalCategory.aspx?catid=10&amp;articleid=34" />
      <add url="~/astrology/testimonials.html" mappedUrl="~/section/Testimonials.aspx" />
      <add url="~/astrology/expert-s-comment.html" mappedUrl="~/section/ExpertComments.aspx" />
      <add url="~/MyReports.html" mappedUrl="~/MyReports.aspx" />
      <add url="~/UnderConstruction.html" mappedUrl="~/UnderConstruction.aspx" />
      <add url="~/thankyou.html" mappedUrl="~/thankyou.aspx" />
      <add url="~/sitemap.html" mappedUrl="~/SiteMap.aspx" />
      <!--<add url="~/photogallery/photo-gallery.html" mappedUrl="~/photogallery/showgallery.aspx" />-->
      <add url="~/photo-gallery.html" mappedUrl="~/photogallery/photoalbum.aspx" />
      <add url="~/talk-to-astrologers.html" mappedUrl="~/TalkToAstrologers.aspx" />
      <add url="~/personal-meeting.html" mappedUrl="~/PersonalMeeting.aspx" />
      <add url="~/single-most-important-planet-for-you.html" mappedUrl="~/most_important_planet.aspx?flag=single" />
      <add url="~/two-most-important-planet-for-you.html" mappedUrl="~/most_important_planet.aspx?flag=two" />
      <add url="~/three-most-important-planet-for-you.html" mappedUrl="~/most_important_planet.aspx?flag=three" />
      <add url="~/ask-one-question-free.html" mappedUrl="~/freeaskquestion.aspx" />
      <add url="~/my-answers.html" mappedUrl="~/Free_Ask_Question_Ans.aspx"/>
    </urlMappings>
    <httpRuntime executionTimeout="9000" maxRequestLength="204800" requestValidationMode="2.0" />
    <!--<httpRuntime maxRequestLength="x*1024"></httpRuntime>-->
    <sessionState mode="InProc" timeout="60" />
    <globalization culture="auto:en-US" uiCulture="fr" />
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" />
  </system.web>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="50000000" />
      </webServices>
    </scripting>
  </system.web.extensions>
  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <add name="v40 64 bit Wildcard Script Map" path="*" verb="*" modules="IsapiModule" scriptProcessor="C:\Windows\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" resourceType="Unspecified" requireAccess="None" preCondition="classicMode,runtimeVersionv4.0,bitness64" />
      <add name="ASP.NET-ISAPI-2.0-Wildcard" path="*" verb="*" modules="IsapiModule" scriptProcessor="C:\WINDOWS\Microsoft.NET\Framework64\v2.0.50727\aspnet_isapi.dll" resourceType="Unspecified" requireAccess="None" preCondition="classicMode,runtimeVersionv2.0,bitness64" />
      <add name="ScriptResource" preCondition="integratedMode" verb="GET,HEAD" path="ScriptResource.axd" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    </handlers>
    <defaultDocument>
      <files>
        <clear />
        <add value="index.html" />
      </files>
    </defaultDocument>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="209715200" />
        <!--<requestLimits maxAllowedContentLength="x*1024*1024"/>-->
      </requestFiltering>
    </security>
    <httpErrors errorMode="Detailed" />
    <staticContent>
      <remove fileExtension=".woff" />
      <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
      <remove fileExtension=".woff2" />
      <mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />
    </staticContent>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="ICSharpCode.SharpZipLib" publicKeyToken="1b03e6acf1164f73" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.5.0.0" newVersion="0.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>